/*Define fonts*/
@font-face {
    font-family: 'Oxygen';
    font-weight: 700;
    src: url('../fonts/Oxygen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    font-weight: 300;
    src: url('../fonts/Oxygen-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    font-weight: 400;
    src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
}


/* Document body */
body {
    font-family: 'Oxygen';
    font-weight: 400; /* Regular */
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #ffffff;
}

/* Title */
h1 {
    font-family: 'Oxygen';
    font-weight: 700; /* Bold */
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Subtitle tag */
sub {
    font-family: 'Oxygen';
    font-weight: 400; /* Regular */
    font-size: 2.0em;
    color: #666;
}

/* Paragraph tag */
p {
    font-family: 'Oxygen';
    font-weight: 300; /* Regular */
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* Strong tag */
p strong {
    font-family: 'Oxygen';
    font-weight: 700; /* Bold */
    color: #222;
    font-weight: bold;
}
