/*Define fonts*/
@font-face {
    font-family: 'Oxygen';
    font-weight: 700;
    src: url('../fonts/oxygen/Oxygen-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    font-weight: 300;
    src: url('../fonts/oxygen/Oxygen-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxygen';
    font-weight: 400;
    src: url('../fonts/oxygen/Oxygen-Regular.ttf') format('truetype');
}


/* Document body */
body {
    font-family: 'Oxygen';
    font-weight: 400; /* Regular */
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #EEF5DB;
}

/* Title */
h1 {
    font-family: 'Oxygen';
    font-weight: 700; /* Bold */
    color: #0A090C;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Subtitle tag */
sub {
    font-family: 'Oxygen';
    font-weight: 400; /* Regular */
    font-size: 2.0em;
    color: #666;
}

/* Paragraph tag */
p {
    font-family: 'Oxygen';
    font-weight: 300; /* Regular */
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* Strong tag */
p strong {
    font-family: 'Oxygen';
    font-weight: 700; /* Bold */
    color: #222;
    font-weight: bold;
}

table, tr, td {
    font-family: 'Oxygen';
    font-weight: 300;
    border: 3px solid #0A090C;
    border-collapse: collapse;
    border-style: solid;
  }

th {
    font-family: 'Oxygen';
    font-weight: 700;
    border: 3px solid #0A090C;
}

button {
    font-family: 'Oxygen';
    font-weight: 300;
    border: 1px solid black;
    border-collapse: collapse;
    border-style: solid;
    color: #0A090C;
    background-color: #dfe7c8;
    border-radius: 2px;
}